@using System.Web.Http.Routing
@model FederalTimeTracker.Models.Salary
           

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.js")"></script>


@{
    var options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure(data)";
    options.OnSuccess = "OnSuccess(data)";
    options.LoadingElementId = "divProgress";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "targetDiv";
   options.InsertionMode = InsertionMode.Replace;
    
}
<div id="targetDiv">
    @using (Ajax.BeginForm("Create", "Salary", options, new { name = "frmSalary", id = "frmSalary" }))
    {
        @Html.AntiForgeryToken()
        <div id="divMsg" class="bg-info"></div>
        <div id="divProgress">
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Processing</span>
                </div>
            </div>
        </div>


        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control" })



                    @Html.HiddenFor(model => model.EmployeeEmployeeId, new { value = ViewBag.EmployeeEmployeeId })
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalSalary, new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.TotalSalary, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TotalSalary)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rate, new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Rate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Rate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PositionNumber, new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.PositionNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PositionNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EO, new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.EO, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EO)
                </div>
                @Html.LabelFor(model => model.IsITStaff, new { @class = "control-label col-md-3" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.IsITStaff, new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Create »" class="btn btn-primary btn-large" />
                </div>

            </div>



            <div class="form-group">
                <div class="col-md-offset-4 col-md-6">





                </div>
            </div>

            <div>
                <div class="table-responsive" id="EmployeeSalary">

                </div>

            </div>

        </div>
    }
</div>

<script language="javascript">

    function getSalaryTable() {

        $.ajax({
            // Get Salary PartialView
            
            url: '@Url.Action("Index", "Salary")' + '?id=@ViewBag.EmployeeEmployeeId',



            type: 'Get',
            cache: false,
            success: function (data) {
                 $("#EmployeeSalary").empty().append(data);
                
            },
            error: function () {
                alert("An error has occurred. Please contact your system administrator.");
            }
        });
    }
    $(document).ready(function () {
        getSalaryTable();
        
      
        $('.datepicker').datepicker({
            autoclose: true,
            dateFormat: 'mm/dd/yy'
        });
        $('.datepicker tbody').on('click', function() {
            $('.datepicker').hide();

        });



        $('.icon-calendar').on('click', function() {
            $('.datepicker').toggle();
            
        });
      

    });




</script>

<script language="javascript">
    function OnBegin() {
        $("#divMsg").removeClass();
        $("#divMsg").text("");
    }
    function OnComplete() {
       // $("#divMsg").append("<h3>Completing Ajax request.</h3>");
    }
    function OnSuccess(data) {
        //$("#divMsg").removeClass();
       // $("#divMsg").append(data);
       // $("#divMsg").addClass("bg-success");
        getSalaryTable();
        $('#frmSalary').clearForm();
        
    }
    function OnFailure(data) {
      //  $("#divMsg").removeClass();
      //  $("#divMsg").addClass("bg-danger");
       // $("#divMsg").append(data);
    }
    $(document).ready(function () {
        $("#divProgress").css("display", "none");
    });
</script>